body {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIg2Elr4dOC1EOxAsR5w2ICExVpzuHbVehzQ&s")
font-family: Cursive;
}
h2{
    text-align: center;
    color: darkcyan;
}

ol{
   color: brown;
   margin-left:0px;
}
